
dados/cleaned/BR_Municipios_2022.shx
dados/cleaned/BR_Municipios_2022.shp
dados/cleaned/BR_Municipios_2022.prj
dados/cleaned/BR_Municipios_2022.dbf
dados/cleaned/BR_Municipios_2022.cpg
dados/processed/mun_conectividade.cpg
dados/processed/mun_conectividade.dbf
dados/processed/mun_conectividade.prj
dados/processed/mun_conectividade.qmd
dados/processed/mun_conectividade.shp
dados/processed/mun_conectividade.shx
dados/raw/BR_Municipios_2022.cpg
dados/raw/BR_Municipios_2022.dbf
dados/raw/BR_Municipios_2022.prj
dados/raw/BR_Municipios_2022.shp
dados/raw/BR_Municipios_2022.shx
dados/raw/clip_demanda_v5.wld
dados/raw/clip_demanda_v5.tif.aux.xml
dados/raw/clip_demanda_v5.tif
dados/raw/clip_demanda_v5.prj
dados/processed/mun_conectividade_albers.shx
dados/processed/mun_conectividade_albers.shp
dados/processed/mun_conectividade_albers.qmd
dados/processed/mun_conectividade_albers.prj
dados/processed/mun_conectividade_albers.dbf
dados/processed/mun_conectividade_albers.cpg
dados/processed/extensao_shp_mun.qmd
dados/processed/extensao_mun_albers.xlsx
dados/processed/extensao_mun_albers.qmd
dados/cleaned/clip_demanda_v5_albers_clip.tif
dados/cleaned/mun_conectividade_albers.tif
