
dados/cleaned/BR_Municipios_2022.shx
dados/cleaned/BR_Municipios_2022.shp
dados/cleaned/BR_Municipios_2022.prj
dados/cleaned/BR_Municipios_2022.dbf
dados/cleaned/BR_Municipios_2022.cpg
dados/processed/mun_conectividade.cpg
dados/processed/mun_conectividade.dbf
dados/processed/mun_conectividade.prj
dados/processed/mun_conectividade.qmd
dados/processed/mun_conectividade.shp
dados/processed/mun_conectividade.shx
dados/raw/BR_Municipios_2022.cpg
dados/raw/BR_Municipios_2022.dbf
dados/raw/BR_Municipios_2022.prj
dados/raw/BR_Municipios_2022.shp
dados/raw/BR_Municipios_2022.shx
dados/raw/clip_demanda_v5.wld
dados/raw/clip_demanda_v5.tif.aux.xml
dados/raw/clip_demanda_v5.tif
dados/raw/clip_demanda_v5.prj
dados/processed/mun_conectividade_albers.shx
dados/processed/mun_conectividade_albers.shp
dados/processed/mun_conectividade_albers.qmd
dados/processed/mun_conectividade_albers.prj
dados/processed/mun_conectividade_albers.dbf
dados/processed/mun_conectividade_albers.cpg
dados/processed/extensao_shp_mun.qmd
dados/processed/extensao_mun_albers.xlsx
dados/processed/extensao_mun_albers.qmd
dados/cleaned/clip_demanda_v5_albers_clip.tif
dados/cleaned/mun_conectividade_albers.tif
dados/cleaned/clip_demanda_v5_albers_clip.tif.aux.xml
dados/cleaned/mun_conectividade_albers.tif.aux.xml
dados/raw/legenda_demanda_conectividade.txt
dados/processed/demanda_conectividade_mun.csv
dados/processed/mun_conectividade_albers.tif.aux.xml
dados/processed/clip_demanda_v5_albers_clip.tif
dados/processed/clip_demanda_v5_albers_clip.tif.aux.xml
scripts/.Rhistory
scripts/gdalrasterize_mun_albers.txt
scripts/gdalrasterize_mun_albers.txt
scripts/gdalrasterize_mun_albers.txt
scripts/gdalrasterize_mun_albers.txt
dados/raw/reclassificao_legenda_mapbiomas_col8.csv
dados/raw/mapbiomas_2022_albers.tif.aux.xml
dados/raw/brasil_coverage_2022.tif
dados/raw/brasil_coverage_2022.tif.aux.xml
dados/raw/brazil_col8.qml
dados/raw/estilo_raster_demanda_v2.qml
dados/raw/Codigos-da-legenda-colecao-8.xlsx
dados/raw/clip_demanda_final2.tif
dados/raw/clip_demanda_final2.tif.aux.xml
dados/processed/mun_conectividade_albers.tif
dados/processed/mun_conectividade_albers.tif
dados/processed/mun_conectividade_albers.tif
dados/processed/mun_conectividade_albers.tif
dados/processed/mun_conectividade_albers.tif
dados/cleaned/demanda_conectividade_mun_organizada.xlsx
dados/processed/mun_conectividade_albers.tif
dados/cleaned/demanda_conectividade_mun_organizada.xlsx
dados/cleaned/demanda_conectividade_mun_organizada.xlsx
dados/processed/areas_demanda_conectividade.csv
dados/processed/br_mun_albers.cpg
dados/processed/br_mun_albers.dbf
dados/processed/br_mun_albers.prj
dados/processed/br_mun_albers.qmd
dados/processed/br_mun_albers.shp
dados/processed/br_mun_albers.shx
dados/processed/clip_demanda_final2_clip_to_mun.tif
dados/processed/clip_demanda_final2_clip_to_mun.tif.aux.xml
dados/processed/clip_demanda_final2_clip_to_mun2.tif.aux.xml
dados/processed/mapbiomas_col8_clip2.tif
dados/processed/mapbiomas_reclassificado_corrijido.tif
dados/processed/mun_conectividade_albers.tif
dados/processed/mun_conectividade_albers_2.tif
dados/processed/mun_conectividade_albers_2.tif.aux.xml
dados/processed/mun_conectividade_albers.tif
dados/cleaned/demanda_conectividade_mun_organizada.xlsx
dados/processed/mun_conectividade_albers.tif
dados/cleaned/demanda_conectividade_mun_organizada.xlsx
dados/cleaned/demanda_conectividade_mun_organizada.xlsx
